.navigation {
  background: white;
  width: 100%;
  overflow: hidden;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: 10vh;
  }

  &__links {
    ul {
      display: flex;

      a {
        padding: 12px 24px;
      }
      a:active {
        color: #4250D4;
      }
      a:hover {
        color: #4250D4;
      }
    }
  }

  &__user {
    display: flex;
    gap: 20px;
  }
}

.header {
  margin: 0 auto;
  padding: 20px 0px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-weight: 500;
  }

  &__button {
    background: #4250D4;
    padding: 17px 28px;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    cursor: pointer;
  }
}

.options {
  width: 90%;
  margin: 0 auto;
  padding: 35px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__search {
    input {
      padding: 14.5px 0 14.5px 44px;
      width: 600px;
      height: 48px;
      border: none;
      border-radius: 12px;
      outline: none;
    }
  }

  &__switch {
    background: white;
    padding: 17px 16px;
    display: flex;
    gap: 28px;

    button {
      background: #4250D4;
      width: 17px;
      height: 13px;
      border: none;
      cursor: pointer;
    }
  }
}

.grid {
  width: 90%;
  margin: 0 auto;
  padding: 24px 0px 40px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}